
/* Global Styling Rules */

body {
	padding: 0;
	margin: 0;
}

/* General Styling */


h1 { 
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 56px;
	text-transform: uppercase;
	opacity: 0;
	transition: all 400ms ease-in;

	@media screen and (max-width: $smallDesktopSize) {
		font-size: 46px;
	}
	@media screen and (max-width: $tabletSize) {
		font-size: 30px;
		left: 40px; 		
	}
	@media screen and (max-width: $largeMobileSize) {
		font-size: 24px;
	}
}
h4 { 
	font-family: 'Roboto', Helvetica, sans-serif;	
	font-weight: 300;
	font-size: 28px;
	line-height: 36px;
	max-width: 80%;
	opacity: 0; 
	transition: all 400ms ease-in;

	@media screen and (max-width: $smallDesktopSize) {
		font-size: 20px;
		line-height: 26px;
	}
	@media screen and (max-width: $tabletSize) {
		font-size: 16px;
		line-height: 22px;
		left: 40px;
	}
}
.ruleSection span {
	font-weight: 500;
	color: orange;
}
.h1-animate {
	opacity: 1;
	animation: headerKeyframe 400ms ease-in;
}
.text-animate {
	opacity: 1;
	animation: textKeyframe 400ms ease-in;
}
.background-wrap {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}
.background-wrap-two {
	position: relative;
}
.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rbga(0,0,0,0.7);
}
.content h1 {
	text-align: center;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 300;
	color: #FFF;
	padding-top: 15%;
	margin-bottom: 10px;
}
.content p {
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #AAA;
}

.break {

	@media screen and (max-width: 425px) { 
		display: block;
	}
}

/* General Image Style */

.backgroundImage {
	position: relative;
}
.backgroundImage div {
    min-height: 600px; 
    width: 100%;
    height: auto;

    @media screen and (max-width: $largeMobileSize) {
		min-height: 500px;
    }	
}
.ruleSection {
    min-height: 600px; 
    width: 100%;
    height: auto; 
    position: relative;
}
.ruleSection h1 {
	position: absolute;
	top: 40px;
	left: 60px;
	padding-right: 20px;

	@media screen and (max-width: $tabletSize) {
		left: 40px;
	}
	@media screen and (max-width: 399px) {
		left: 20px;
	}
}
.ruleSection h4 {
	position: absolute; 
	bottom: 60px;
	left: 60px;
	padding-right: 20px;

	@media screen and (max-width: $tabletSize) {
		left: 40px;
	}
	@media screen and (max-width: 399px) {
		left: 20px;
	}	
}

/* Specific Background Images */

@mixin background-size($size) {
	-webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

#bg_image_1 {
	background: url('../img/flickr-dieter-rams-pool.jpg') center center no-repeat fixed;
	@include background-size(cover);
}
#bg_image_2 {
	background: url('../img/12_sfmoma_rams.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_3 { 
	background: url('../img/furniture.jpg') no-repeat center center fixed;
	@include background-size(cover);
} 
#bg_image_4 {
	background: url('../img/radio.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_5 {
	background: url('../img/recorder.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_6 {
	background: url('../img/slideshow_1.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_7 {
	background: url('../img/tumblr_n6v7sr3gib1rpgpe2o2_1280.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_8 {
	background: url('../img/tumblr_nioptqtQKD1qjfk8po1_1280.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_9 {
	background: url('../img/vinyl.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_10 {
	background: url('../img/watch.jpg') no-repeat center center fixed;
	@include background-size(cover);
}
#bg_image_11 {
	background: url('../img/bio.jpg') no-repeat center center fixed;
	@include background-size(cover);
}

/* Specific Styling */

#bg_image_1 h1 {
    position: absolute;
    opacity: 1;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;

    @media screen and (max-width: $smallDesktopSize) {
		top: 40%;
	}
}

